<!DOCTYPE html>  
<html>  
<head>  
<meta charset="utf-8" />
<title> New Document </title>  
<style>
	table{
		width: 800px;
		border-collapse:collapse;
		margin: 200px auto;
		font-family: "微软雅黑";
	}
	caption{
		font-size:32px;
		padding: 10px 0;
		color: #333;
	}
	table td,
	table th{
		padding: 10px 20px;
		border: 1px solid #ddd;
	}
	table th{
		background: #efefef;
	}
	input {
		width: 50px;
		padding: 5px 0;
		border: 1px solid #ddd;
		text-align: center;
	}
	.total{
		font-size: 24px;
		color:#f00;
	}
</style>
<script src="js/angular.min.js" type="text/javascript" charset="utf-8"></script>
<script src="" type="text/javascript" charset="utf-8"></script>
</head>  
  
 <body ng-app="myApp">  

	<table ng-controller="firstController">
		<tbody>
			<caption>购物车</caption>
			<tr>
				<th>商品名</th>
				<th>数量值</th>
				<th>数量</th>
				<th>价格</th>
				<th>单品总价</th>
				<th></th>
			</tr>
			<tr ng-repeat="(key,val) in data">
				<td width="20%">{{val.name}}</td>
				<td width="20%" align="center"><input type="number" ng-model="val.count"/></td>
				<td width="15%" align="center">{{val.count}}</td>
				<td width="15%" align="center">￥ {{val.price}}</td>
				<td width="15%" align="center">￥ {{val.count * val.price}}</td>
				<td width="15%" align="center"><button ng-click="remove($index)">remove</button></td>
			</tr>
			<tr>
				<td colspan="6">总共：<span class="total">￥ {{getPrice()}}</span></td>
			</tr>
		</tbody>
	</table>
	<script type="text/javascript">
		var dataArr = [{
			'name':'萝卜',
			'count':8,
			'price':4
		},
		{
			'name':'娃娃菜',
			'count':8,
			'price':6.8
		},
		{
			'name':'西兰花',
			'count':8,
			'price':7.5
		}
		]
		
		var app = angular.module('myApp',[]);
		app.controller('firstController',function($scope){
			$scope.data = dataArr;
			//获取总价格的方法
			$scope.getPrice = function(){
				var totalPrice = 0;
				//遍历数组
				angular.forEach(dataArr,function(data,index,array){ 
					data.partPrice=data.count*data.price;
					totalPrice += data.partPrice;
				}) 
				return totalPrice;
			}
			//删除的方法
			$scope.remove = function(index){
				dataArr.splice(index,1);
			}
			
		})
	</script>
</body>  
</html>  