<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>ng-repeat</title>
		<script src="js/angular.min.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body ng-app="myApp">
		<ul ng-controller="memu">
			<!--
				ng-repeat--angularjs循环
				key--数组的下标/对象的属性
				val--值
				data--表示数据   名字必须和scope上面绑定的一致
				$index--获取下标
				筛选:ng-if--被选择的显示
					$first/$middle/$last/$odd/$even--被选择的返回true，未被选择的返回false
			-->
			<li ng-repeat="(key,val) in data" <!--ng-if="key>0"-->>{{$even}}--{{$index}}--{{key}}--{{val}}--{{val.name}}--{{val.age}}</li>
		</ul>
		<script type="text/javascript">
			var dataArr=[
		        {'name':'张三',age:'20'},
		        {'name':'李四',age:'50'},
		        {'name':'王五',age:'20'}
		    ];
			var app = angular.module('myApp',[]);
			app.controller('memu',function($scope){
				$scope.data = dataArr;
			})
		</script>
	</body>
</html>
